@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  @mixin button-style {
    background-color: $primary-color;
    color: #fff;
    border: none;
    padding: 5px 10px 5px 10px;
    margin-left: 10px;
    border-radius: $border-radius;
    cursor: pointer;
    font-family: $font-family;
    font-size: $font-size-base;
  
    &:hover {
      background-color: darken($primary-color, 10%);
    }
  }

  @mixin delete-button-style {
    background-color: $delete-color;
    color: #fff;
    border: none;
    padding: 5px 10px 5px 10px;
    margin-left: 10px;
    border-radius: $border-radius;
    cursor: pointer;
    font-family: $font-family;
    font-size: $font-size-base;
  
    &:hover {
      background-color: darken($delete-color, 10%);
    }
  }