$primary-color: #3278ce; // аквамариновый цвет
$secondary-color: #213d6e; // темный цвет для текста и фона
$light-color: #faf8f8; // светлый цвет для фона
$hightlight-color: #e1e1e1; // цвет для подсветки
$delete-color: #f52f2f;
$border-radius: 4px; // радиус для скругления углов

$font-family: 'Arial', sans-serif;
$font-size-base: 16px;

$base-spacing-unit: 24px;
$half-spacing-unit: $base-spacing-unit / 2;